.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.greeting {
  text-align: center;
}
*{
  color: white;
  background-color: rgb(28, 21, 21);
  text-transform: capitalize;
}